@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.basesita {
  margin: 30px auto;
  width: 275px;
  height: 520px;
  
}

.cartita {
  display: flex;
  align-items: center;
}



.basesita2 {
  margin: 30px auto;
  width: 575px;
  height: 520px;
  
}

#comp{
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

#val {
  font-family: 'Poppins', sans-serif;
}